{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead, footer, print_settings=None) -%}
	{% if letter_head and not no_letterhead %}
		<div class="letter-head" style="padding-top: 20px;">{{ letter_head }}</div>
	{% endif %}
	{%- if doc.meta.is_submittable and doc.docstatus==0 and (print_settings==None or print_settings.add_draft_heading) -%}
	<div class="text-center" document-status="draft">
		<h4 style="margin: 0px;">{{ _("DRAFT") }}</h4>
	</div>
	{%- endif -%}
	{%- if doc.meta.is_submittable and doc.docstatus==2-%}
	<div class="text-center" document-status="cancelled">
		<h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4>
	</div>
	{%- endif -%}
{%- endmacro -%}

{% for page in layout %}
<div class="page-break">
	<div {% if print_settings.repeat_header_footer %} id="header-html" class="hidden-pdf" {% endif %}>
		{{ add_header(loop.index, layout|len, doc, letter_head, no_letterhead, footer, print_settings) }}
	</div>

	{% if print_settings.repeat_header_footer %}
	<div id="footer-html" class="visible-pdf">
		{% if not no_letterhead and footer %}
		<div class="letter-head-footer">
			{{ footer }}
		</div>
		{% endif %}
		<p class="text-center small page-number visible-pdf">
			{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
		</p>
	</div>
	{% endif %}

    <div class="container-fluid"  style="width:100%;">
        <div class="row">
            <div class="col-xs-6" style="padding-top: 5px;">
                <table style="font-size:12px">
                    <tr class="nospace">
                        <td style="width:20%;border-color:white !important">
                            <b>Ref No</b><br>
                            <b>Supplier</b>
                        </td>
                        <td style="border-color:white !important">
                            :&nbsp;{{ doc.name }}<br>
                            :&nbsp;{{ doc.vendor or ""}}<br>
                            {% set supplier_name = frappe.db.get_value('Dynamic Link', {'link_name': doc.vendor}, 'parent') %}
                            {% if supplier_name %}
                                {{ frappe.db.get_value('Address', supplier_name, 'address_line1') or ""}}<br>
                                {{ frappe.db.get_value('Address', supplier_name, 'city') or ""}}<br>
                                {{ frappe.db.get_value('Address', supplier_name, 'state') or ""}}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-6" style="padding-top: 5px">
                <table style="font-size:12px;">
                    <tr class="nospace">
                         <td style="border-color:white !important"><nobr><b>Date</b></nobr></td>
                        <td style="border-color:white !important"><nobr>:&nbsp;{{ frappe.utils.formatdate(doc.transaction_date,"dd-mm-yyyy") }}</nobr></td>
                    </tr>
                     <tr class="nospace">
                        <td style="border-color:white !important"><nobr><b>Required Date</b></nobr></td>
                        <td style="border-color:white !important"><nobr>:&nbsp;{{ frappe.utils.formatdate(doc.schedule_date or doc.items[0].schedule_date,"dd-mm-yyyy") }}</nobr></td>
                    </tr>
                </table>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <td class="text-center" style="width:5%;background-color:grey;color:white !important;">SNo</td>
                <td class="text-center" style="background-color:grey; !important;"><nobr style="color:white">Description</nobr></td>
                <td class="text-center" style="width:7%;background-color:grey;color:white !important;">UOM </td>
                <td class="text-center" style="width:7%;background-color:grey;color:white !important;">Qty</td>
            </tr>
        <tbody style="font-size:105%;text-align:right">
        {% for row in doc.items %}
            <tr>
                <td class="text-center" style="width:5%;">{{ row.idx }}</td>
                <td class="text-left">{{ row.description or ""}}</td>
                <td style="width:7%;">{{ row.uom }}</td>
                <td style="width:5%;">{{ row.qty }}</td>
            </tr>
        {% endfor %}
        </tbody>
       
    </table>
    <p>
        <b><u>Terms and Conditions</u></b><br>
        {{ doc.terms or "" }}
    </p>
	</div>
	</div>
	
	{% endfor %}